In [1]:
import sqlite3

## PROVA

In [3]:
nome = 'escola.db'

## Criando tabela

In [24]:
script_alunos = """CREATE TABLE IF NOT EXISTS alunos (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""
            

try:
    with sqlite3.connect(nome) as conn:
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(script_alunos)

        # Salva as alterações no banco de dados
        conn.commit()

        print("Tabelas Criadas com Sucesso")
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

Tabelas Criadas com Sucesso

## Inserindo dados

In [27]:
sql = "INSERT INTO Alunos (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, ('eduardo', 17, 'lkviado@gail.com'))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

## Consultar

In [28]:
sql = "SELECT * FROM Alunos"


try:
    with sqlite3.connect(nome) as conn:
        # Cria um cursor
        cur = conn.cursor()
        

        # Executa o script
        cur.execute(sql)
        res = cur.fetchall() # retorna uma lista de listas

        print(res)
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

for i in res:
    print(i)

[(1, 'eduardo', 17, 'lkviado@gail.com'), (2, 'eduardo', 17, 'lkviado@gail.com'), (3, 'eduardo', 17, 'lkviado@gail.com'), (4, 'eduardo', 17, 'lkviado@gail.com'), (5, 'eduardo', 17, 'lkviado@gail.com'), (6, 'eduardo', 17, 'lkviado@gail.com'), (7, 'eduardo', 17, 'lkviado@gail.com'), (8, 'eduardo', 17, 'lkviado@gail.com'), (9, 'eduardo', 17, 'lkviado@gail.com')]
(1, 'eduardo', 17, 'lkviado@gail.com')
(2, 'eduardo', 17, 'lkviado@gail.com')
(3, 'eduardo', 17, 'lkviado@gail.com')
(4, 'eduardo', 17, 'lkviado@gail.com')
(5, 'eduardo', 17, 'lkviado@gail.com')
(6, 'eduardo', 17, 'lkviado@gail.com')
(7, 'eduardo', 17, 'lkviado@gail.com')
(8, 'eduardo', 17, 'lkviado@gail.com')
(9, 'eduardo', 17, 'lkviado@gail.com')

## Atualizar registro

In [30]:
sql = "UPDATE Alunos SET idade = ? WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (10, 1))

        # Salva as alterações no banco de dados
        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

## Deletando dados

In [31]:
sql = "DELETE FROM Alunos  WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (2,))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)